body{background: rgb(235, 237, 239); font-family: 'Open Sans', sans-serif}
.border { border-width: 3px; border-color: grey; border-style: dashed; }

h2:hover 			{ 	background-color: grey;
						width: 38%;
						color: white;
						font-family: 'Open Sans', sans-serif }
h3#Position:hover 	{ 	background-color: grey;
						width: 62%;
						color: white;
						font-family: 'Open Sans', sans-serif }
th,td 				{	padding: 5px;
						border:0.5px solid grey}
table 				{	border-collapse: collapse;}

.button 			{	background-color: #0B5345;
					   	
					   	color: white;
					  	padding: 15px 32px;
					  	text-align: center;
					  	text-decoration: none;
					  	display: inline-block;
					  	font-size: 16px;
					}

.button:hover 		{ 	background-color: grey;
						color: white;}